body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: gainsboro;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.list-common-input {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -20px;
  margin-bottom: 40px;
}
.list-common-input .list-item {
  padding: 20px;
}
.list-common-input .item-wrapper {
  height: 60px;
  width: 200px;
}
.list-common-input .item-input {
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 18px;
}
.list-common-input .item-input:hover,
.list-common-input .item-input:focus {
  border: 2px solid #4a9dec;
  -webkit-box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
  box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
  background-color: white;
}

.list-show {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  font-size: 16px;
}
.list-show .list-item {
  padding: 10px 0;
}
.list-show .list-item:nth-child(2n + 1) button {
  margin-left: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 13px;
  background-color: #212121;
  border: none;
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  cursor: not-allowed;
  overflow: hidden;
  -webkit-transition: all 0.3s ease cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s ease cubic-bezier(0.23, 1, 0.32, 1);
}
.list-show .list-item:nth-child(2n + 1) button .span-delete,
.list-show .list-item:nth-child(2n + 1) button .span-decor {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list-show
  .list-item:nth-child(2n + 1)
  button
  .span-delete
  .span-delete::before,
.list-show
  .list-item:nth-child(2n + 1)
  button
  .span-decor
  .span-delete::before {
  content: "Delete";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.list-show .list-item:nth-child(2n + 1) button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  translate: 0 105%;
  background-color: #f53844;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.list-show .list-item:nth-child(2n + 1) button svg {
  width: 32px;
  height: 32px;
  fill: #f53844;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.list-show .list-item:nth-child(2n + 1) button:hover {
  -webkit-animation: shake 0.2s linear 1;
  animation: shake 0.2s linear 1;
}
.list-show .list-item:nth-child(2n + 1) button:hover::before {
  translate: 0 0;
}
.list-show .list-item:nth-child(2n + 1) button:hover svg {
  fill: #e8e8e8;
}
.list-show .list-item:nth-child(2n) button {
  margin-left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}
.list-show .list-item:nth-child(2n) button:hover {
  width: 140px;
  border-radius: 50px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list-show .list-item:nth-child(2n) button:hover::before {
  font-size: 13px;
  opacity: 1;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.list-show .list-item:nth-child(2n) button:hover .svgIcon {
  width: 50px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: translateY(60%);
  -ms-transform: translateY(60%);
  transform: translateY(60%);
}
.list-show .list-item:nth-child(2n) button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 2px;
}
.list-show .list-item:nth-child(2n) button .svgIcon {
  width: 12px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.list-show .list-item:nth-child(2n) button .svgIcon path {
  fill: white;
}
.list-show .item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-show .btn-copy {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}
.section-show .btn-copy:hover {
  color: #ffffff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  -webkit-box-shadow: 4px 5px 17px -4px #268391;
  box-shadow: 4px 5px 17px -4px #268391;
}
.section-show .btn-copy::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  -webkit-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
  z-index: -1;
  -webkit-transition: width 1000ms;
  transition: width 1000ms;
}
.section-show .btn-copy:hover::before {
  width: 250%;
}

@-webkit-keyframes shake {
  0% {
    rotate: 0deg;
  }
  33% {
    rotate: 10deg;
  }
  66% {
    rotate: -10deg;
  }
  100% {
    rotate: 10deg;
  }
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }
  33% {
    rotate: 10deg;
  }
  66% {
    rotate: -10deg;
  }
  100% {
    rotate: 10deg;
  }
}
.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 60%, 0) 47.8%,
    hsl(0, 0%, 60%) 48%
  );
  z-index: 2;
}

.hamster {
  -webkit-animation: hamster var(--dur) ease-in-out infinite;
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  -webkit-transform: rotate(4deg) translate(-0.8em, 1.85em);
  -ms-transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  -webkit-animation: hamsterHead var(--dur) ease-in-out infinite;
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100%/40% 25% 25% 60%;
  -webkit-box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.hamster__ear {
  -webkit-animation: hamsterEar var(--dur) ease-in-out infinite;
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  -webkit-box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  -webkit-transform-origin: 50% 75%;
  -ms-transform-origin: 50% 75%;
  transform-origin: 50% 75%;
}

.hamster__eye {
  -webkit-animation: hamsterEye var(--dur) linear infinite;
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15%/70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  -webkit-animation: hamsterBody var(--dur) ease-in-out infinite;
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30%/15% 60% 40% 40%;
  -webkit-box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  -webkit-transform-origin: 17% 50%;
  -ms-transform-origin: 17% 50%;
  transform-origin: 17% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  -webkit-animation: hamsterFRLimb var(--dur) linear infinite;
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(80%, hsl(30, 90%, 80%)),
    color-stop(80%, hsl(0, 90%, 75%))
  );
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  -webkit-transform: rotate(15deg) translateZ(-1px);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  -webkit-animation: hamsterFLLimb var(--dur) linear infinite;
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(80%, hsl(30, 90%, 90%)),
    color-stop(80%, hsl(0, 90%, 85%))
  );
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  -webkit-transform-origin: 50% 30%;
  -ms-transform-origin: 50% 30%;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  -webkit-animation: hamsterBRLimb var(--dur) linear infinite;
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(90%, hsl(30, 90%, 80%)),
    color-stop(90%, hsl(0, 90%, 75%))
  );
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  -webkit-transform: rotate(-25deg) translateZ(-1px);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  -webkit-animation: hamsterBLLimb var(--dur) linear infinite;
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(90%, hsl(30, 90%, 90%)),
    color-stop(90%, hsl(0, 90%, 85%))
  );
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.hamster__tail {
  -webkit-animation: hamsterTail var(--dur) linear infinite;
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  -webkit-box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  -webkit-transform: rotate(30deg) translateZ(-1px);
  transform: rotate(30deg) translateZ(-1px);
  -webkit-transform-origin: 0.25em 0.25em;
  -ms-transform-origin: 0.25em 0.25em;
  transform-origin: 0.25em 0.25em;
}

.spoke {
  -webkit-animation: spoke var(--dur) linear infinite;
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(46.9%, hsla(0, 0%, 55%, 0)),
        color-stop(47%, hsl(0, 0%, 65%)),
        color-stop(53%, hsla(0, 0%, 65%, 0))
      ) 50% 50%/99% 99% no-repeat;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50%/99% 99% no-repeat;
}

/* Animations */
@-webkit-keyframes hamster {
  from,
  to {
    -webkit-transform: rotate(4deg) translate(-0.8em, 1.85em);
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }
  50% {
    -webkit-transform: rotate(0) translate(-0.8em, 1.85em);
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}
@keyframes hamster {
  from,
  to {
    -webkit-transform: rotate(4deg) translate(-0.8em, 1.85em);
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }
  50% {
    -webkit-transform: rotate(0) translate(-0.8em, 1.85em);
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}
@-webkit-keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
@-webkit-keyframes hamsterEye {
  from,
  90%,
  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  95% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@keyframes hamsterEye {
  from,
  90%,
  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  95% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
}
@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
}
@-webkit-keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}
@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}
@-webkit-keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(50deg) translateZ(-1px);
    transform: rotate(50deg) translateZ(-1px);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(-30deg) translateZ(-1px);
    transform: rotate(-30deg) translateZ(-1px);
  }
}
@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(50deg) translateZ(-1px);
    transform: rotate(50deg) translateZ(-1px);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(-30deg) translateZ(-1px);
    transform: rotate(-30deg) translateZ(-1px);
  }
}
@-webkit-keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}
@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}
@-webkit-keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(-60deg) translateZ(-1px);
    transform: rotate(-60deg) translateZ(-1px);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(20deg) translateZ(-1px);
    transform: rotate(20deg) translateZ(-1px);
  }
}
@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(-60deg) translateZ(-1px);
    transform: rotate(-60deg) translateZ(-1px);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(20deg) translateZ(-1px);
    transform: rotate(20deg) translateZ(-1px);
  }
}
@-webkit-keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
}
@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
}
@-webkit-keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(30deg) translateZ(-1px);
    transform: rotate(30deg) translateZ(-1px);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(10deg) translateZ(-1px);
    transform: rotate(10deg) translateZ(-1px);
  }
}
@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    -webkit-transform: rotate(30deg) translateZ(-1px);
    transform: rotate(30deg) translateZ(-1px);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: rotate(10deg) translateZ(-1px);
    transform: rotate(10deg) translateZ(-1px);
  }
}
@-webkit-keyframes spoke {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes spoke {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
.ketqua-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}
.ketqua-wrapper .item-ketqua {
  padding: 10px;
  height: 40px;
  border: 2px solid #0b2447;
  border-top: none;
  border-bottom: none;
  font-size: 16px;
  background: transparent;
  outline: none;
  -webkit-box-shadow: 7px 7px 0px 0px #0b2447;
  box-shadow: 7px 7px 0px 0px #0b2447;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ketqua-wrapper .item-ketqua:active {
  outline: none;
}
.ketqua-wrapper .item-ketqua:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ketqua-wrapper .label-ketQua {
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #0b2447;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  z-index: -1;
}
.ketqua-wrapper .topline {
  position: absolute;
  content: "";
  background-color: #0b2447;
  width: 0%;
  height: 2px;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ketqua-wrapper .underline {
  position: absolute;
  content: "";
  background-color: #0b2447;
  width: 0%;
  height: 2px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ketqua-wrapper input[type="text"]:focus ~ .topline {
  width: 35%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ketqua-wrapper input[type="text"]:focus ~ .underline {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ketqua-wrapper input[type="text"]:focus ~ .label-ketQua {
  top: -15px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

input:focus {
  outline: none;
}

.section-time {
  padding: 20px 0;
}
.section-time .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 100px;
}
.section-time .block-time {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.section-time .block-time:hover {
  background-color: #e0e0e0;
}

.typewriter {
  --blue: #5c86ff;
  --blue-dark: #275efe;
  --key: #fff;
  --paper: #eef0fd;
  --text: #d3d4ec;
  --tool: #fbc56c;
  --duration: 3s;
  position: relative;
  -webkit-animation: bounce05 var(--duration) linear infinite;
  animation: bounce05 var(--duration) linear infinite;
}

.typewriter .slide {
  width: 92px;
  height: 20px;
  border-radius: 3px;
  margin-left: 14px;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--blue)),
    to(var(--blue-dark))
  );
  background: linear-gradient(var(--blue), var(--blue-dark));
  -webkit-animation: slide05 var(--duration) ease infinite;
  animation: slide05 var(--duration) ease infinite;
}

.typewriter .slide:before,
.typewriter .slide:after,
.typewriter .slide i:before {
  content: "";
  position: absolute;
  background: var(--tool);
}

.typewriter .slide:before {
  width: 2px;
  height: 8px;
  top: 6px;
  left: 100%;
}

.typewriter .slide:after {
  left: 94px;
  top: 3px;
  height: 14px;
  width: 6px;
  border-radius: 3px;
}

.typewriter .slide i {
  display: block;
  position: absolute;
  right: 100%;
  width: 6px;
  height: 4px;
  top: 4px;
  background: var(--tool);
}

.typewriter .slide i:before {
  right: 100%;
  top: -2px;
  width: 4px;
  border-radius: 2px;
  height: 14px;
}

.typewriter .paper {
  position: absolute;
  left: 24px;
  top: -26px;
  width: 40px;
  height: 46px;
  border-radius: 5px;
  background: var(--paper);
  -webkit-transform: translateY(46px);
  -ms-transform: translateY(46px);
  transform: translateY(46px);
  -webkit-animation: paper05 var(--duration) linear infinite;
  animation: paper05 var(--duration) linear infinite;
}

.typewriter .paper:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  -webkit-transform: scaleY(0.8);
  -ms-transform: scaleY(0.8);
  transform: scaleY(0.8);
  background: var(--text);
  -webkit-box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text),
    0 36px 0 var(--text);
  box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}

.typewriter .keyboard {
  width: 120px;
  height: 56px;
  margin-top: -10px;
  z-index: 1;
  position: relative;
}

.typewriter .keyboard:before,
.typewriter .keyboard:after {
  content: "";
  position: absolute;
}

.typewriter .keyboard:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  background: linear-gradient(135deg, var(--blue), var(--blue-dark));
  -webkit-transform: perspective(10px) rotateX(2deg);
  transform: perspective(10px) rotateX(2deg);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.typewriter .keyboard:after {
  left: 2px;
  top: 25px;
  width: 11px;
  height: 4px;
  border-radius: 2px;
  -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
    45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
    90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
    52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
    83px 10px 0 var(--key);
  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
    60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
    22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
    60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  -webkit-animation: keyboard05 var(--duration) linear infinite;
  animation: keyboard05 var(--duration) linear infinite;
}

@-webkit-keyframes bounce05 {
  85%,
  92%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  89% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  95% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}

@keyframes bounce05 {
  85%,
  92%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  89% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  95% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}
@-webkit-keyframes slide05 {
  5% {
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
  }
  15%,
  30% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  40%,
  55% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  65%,
  70% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  80%,
  89% {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  100% {
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
  }
}
@keyframes slide05 {
  5% {
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
  }
  15%,
  30% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  40%,
  55% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  65%,
  70% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  80%,
  89% {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  100% {
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
  }
}
@-webkit-keyframes paper05 {
  5% {
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
  20%,
  30% {
    -webkit-transform: translateY(34px);
    transform: translateY(34px);
  }
  40%,
  55% {
    -webkit-transform: translateY(22px);
    transform: translateY(22px);
  }
  65%,
  70% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  80%,
  85% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  92%,
  100% {
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
@keyframes paper05 {
  5% {
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
  20%,
  30% {
    -webkit-transform: translateY(34px);
    transform: translateY(34px);
  }
  40%,
  55% {
    -webkit-transform: translateY(22px);
    transform: translateY(22px);
  }
  65%,
  70% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  80%,
  85% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  92%,
  100% {
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
@-webkit-keyframes keyboard05 {
  5%,
  12%,
  21%,
  30%,
  39%,
  48%,
  57%,
  66%,
  75%,
  84% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  9% {
    -webkit-box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  18% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  27% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  36% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key),
      60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
  }
  45% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  54% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  63% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 12px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
  }
  72% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  81% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
}
@keyframes keyboard05 {
  5%,
  12%,
  21%,
  30%,
  39%,
  48%,
  57%,
  66%,
  75%,
  84% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  9% {
    -webkit-box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  18% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  27% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  36% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key),
      60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
  }
  45% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  54% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  63% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 12px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
  }
  72% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
  81% {
    -webkit-box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key),
      45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key),
      90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key),
      52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key),
      83px 10px 0 var(--key);
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key),
      60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key),
      22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key),
      60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
}
.love {
  margin-bottom: 20px;
}

/* Modal xác nhận */
.confirm-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 30px;
  border-radius: 8px;
  display: none;
  z-index: 9999;
}

.confirm-content {
  text-align: center;
}

.confirm-content button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.confirm-content button:hover {
  background-color: #1976d2;
}

/* Modal cảnh báo */
.warning-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 8px;
  display: none;
  z-index: 9998;
  text-align: center;
}

.love-heart:before,
#switch {
  display: none;
}

.love-heart,
.love-heart::after {
  border-color: hsl(231, 28%, 86%);
  border: 1px solid;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 10px;
  height: 8px;
  border-bottom: 0;
}

.round {
  position: absolute;
  z-index: 1;
  width: 8px;
  height: 8px;
  background: hsl(0, 0%, 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 4px 0px;
  border-radius: 100%;
  left: 0px;
  bottom: -1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: check-animation2 0.5s forwards;
  animation: check-animation2 0.5s forwards;
}

input:checked + label .round {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-animation: check-animation 0.5s forwards;
  animation: check-animation 0.5s forwards;
  background-color: hsl(0, 0%, 100%);
}

@-webkit-keyframes check-animation {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 7px);
    transform: translate(0px, 7px);
  }
  100% {
    -webkit-transform: translate(7px, 7px);
    transform: translate(7px, 7px);
  }
}

@keyframes check-animation {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 7px);
    transform: translate(0px, 7px);
  }
  100% {
    -webkit-transform: translate(7px, 7px);
    transform: translate(7px, 7px);
  }
}
@-webkit-keyframes check-animation2 {
  0% {
    -webkit-transform: translate(7px, 7px);
    transform: translate(7px, 7px);
  }
  50% {
    -webkit-transform: translate(0px, 7px);
    transform: translate(0px, 7px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes check-animation2 {
  0% {
    -webkit-transform: translate(7px, 7px);
    transform: translate(7px, 7px);
  }
  50% {
    -webkit-transform: translate(0px, 7px);
    transform: translate(0px, 7px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.love-heart {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-transform: rotate(-45deg) translate(-50%, -33px) scale(4);
  -ms-transform: rotate(-45deg) translate(-50%, -33px) scale(4);
  transform: rotate(-45deg) translate(-50%, -33px) scale(4);
  display: block;
  border-color: hsl(231, 28%, 86%);
  cursor: pointer;
  top: 0;
}

input:checked + .love-heart,
input:checked + .love-heart::after,
input:checked + .love-heart .bottom {
  border-color: hsl(347, 81%, 61%);
  -webkit-box-shadow: inset 6px -5px 0px 2px hsl(347, 99%, 72%);
  box-shadow: inset 6px -5px 0px 2px hsl(347, 99%, 72%);
}

.love-heart::after,
.love-heart .bottom {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  border-color: hsl(231, 28%, 86%);
}

.love-heart::after {
  right: -9px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 7px;
}

.love-heart .bottom {
  width: 11px;
  height: 11px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: hsl(231, 28%, 86%);
  left: -1px;
  top: 5px;
  border-radius: 0px 0px 0px 5px;
}

.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  -webkit-transform: translate3d(0, 0, 0) scale(0.95);
  transform: translate3d(0, 0, 0) scale(0.95);
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #ffffff;
  font-weight: 600;
}

.card:hover::after {
  -webkit-filter: blur(30px);
  filter: blur(30px);
}

.card:hover::before {
  -webkit-transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  -ms-transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.loader {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  overflow-x: hidden;
}

/* truck upper body */
.truckBody {
  width: 130px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 6px;
  -webkit-animation: motion 1s linear infinite;
  animation: motion 1s linear infinite;
}

/* truck suspension animation*/
@-webkit-keyframes motion {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes motion {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}

.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border-radius: 3px;
}

.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  -webkit-animation: roadAnimation 1.4s linear infinite;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}

.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  -webkit-animation: roadAnimation 1.4s linear infinite;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  -webkit-animation: roadAnimation 1.4s linear infinite;
  animation: roadAnimation 1.4s linear infinite;
}

@-webkit-keyframes roadAnimation {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-350px);
    transform: translateX(-350px);
  }
}

@keyframes roadAnimation {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-350px);
    transform: translateX(-350px);
  }
}
.loading-wrapper {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.loader-cat {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper-cat {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catContainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.catbody {
  width: 80px;
}

.tail {
  position: absolute;
  width: 17px;
  top: 50%;
  animation: tail 0.5s ease-in infinite alternate-reverse;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

@-webkit-keyframes tail {
  0% {
    -webkit-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
  }
}

@keyframes tail {
  0% {
    -webkit-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
  }
}
.wall {
  width: 300px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50px;
  position: absolute;
  margin: 0px 0px 100px 120px;
}

.zzz {
  color: black;
  font-weight: 700;
  font-size: 15px;
  -webkit-animation: zzz 2s linear infinite;
  animation: zzz 2s linear infinite;
}

.bigzzz {
  color: black;
  font-weight: 700;
  font-size: 25px;
  margin-left: 10px;
  -webkit-animation: zzz 2.3s linear infinite;
  animation: zzz 2.3s linear infinite;
}

@-webkit-keyframes zzz {
  0% {
    color: transparent;
  }
  50% {
    color: black;
  }
  100% {
    color: transparent;
  }
}

@keyframes zzz {
  0% {
    color: transparent;
  }
  50% {
    color: black;
  }
  100% {
    color: transparent;
  }
}
.keyvisual-parallax {
  background-image: url("../img/tamthoi.jpg");
  height: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.keyvisual-parallax::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
